*{
    margin : 10px;
    padding : 0px;
}

p{
    color : brown;
    font-size : 20px;
}

#namaPria, #namaWanita, #pemisah, #Hari, #Akad, #penutup{
    font-family: 'Dancing Script', cursive;
    color: brown;
}